
@{
    ViewBag.Title = "View";
   // Layout = "~/Views/Shared/_OsnovniLayout.cshtml";
    Layout = "~/Views/Shared/_PosebniLayout.cshtml";
}

<h2>View</h2>

@section Footer{
    <span color="cornsilk;" background-color="black;">Kreirano uz pomoć...</span>
   }