@model _4._2._1_narudzba_artikla.Models.Artikl
    <div id="borderDemo">
        <h4>Naziv: </h4><div>@Model.Naziv</div>
        <h4>Cijena: </h4><div>@Model.Cijena</div>
        <h4>Kolicina: </h4><div>@Model.Kolicina</div>
        <h4>Kategorija: </h4><div>@Model.Kategorija</div>
    </div>
   

