@model _5._5._1_zadatak.Models.Artikl
<div style="border:1px solid lightblue; width:400px; text-align:center; margin-top:5px; padding:3px 3px 3px 3px;">
    @Model.Naziv - @Model.Cijena KN - @Model.Kolicina Komada
</div>

